@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
  --main-bg-color: #F6F6F6;
  --secondary-bg-color: #fff;
  --main-font-color: #1C1427;
  --secondary-font-color: #A8A8A8;
  --light-font-color: #E0E0E0;
  --logo-color: #FF6363;
  --main-font: 'Lato', sans-serif;
  --logo-font: 'Shadows Into Light', cursive;
  --secondary-color: #32FF6A;
  --main-color: #7900FF;
  --border-radius: 5px;
  --error-color: #E90064;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #222222;
    --secondary-bg-color: #777777;
    --main-font-color: #c2b1d6;
    --secondary-font-color: #727272;
    --light-font-color: #E0E0E0;
    --logo-color: #df6868;
    --main-font: 'Lato', sans-serif;
    --logo-font: 'Shadows Into Light', cursive;
    --secondary-color: #62a474;
    --main-color: #c18aff;
    --border-radius: 5px;
    --error-color: #ca5085;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

.logo {
  color: var(--logo-color);
  font-size: 1.5rem;
  font-family: var(--logo-font);
  text-decoration: none;
}

.navbar {
  display: flex;
  gap: 2rem;
}

.navbar-link {
  text-decoration: none;
  color: var(--main-font-color);
}

.product-list {
  margin-bottom: 100px;
}

.product-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-bg-color);
  padding: 10px;
  width: 75%;
  border-radius: var(--border-radius);
  margin: 30px auto;
}

.name-and-price-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin: 10px;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
}

.button-container {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  gap: 10px;
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
  cursor: pointer;
  transition: ease 0.3s;
}

.add-cart {
  background-color: var(--secondary-color);
}

.button:hover {
  filter:invert()
}

.read-more {
  background-color: var(--main-bg-color);
}

.error-container {
  text-align: center;
  padding: 50px;
}

.error-status {
  font-size: 3.5rem;
  color: var(--error-color);
}

.error-message {
  font-size: 1rem;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.cart-item {
  display: flex;
  background-color: var(--secondary-bg-color);
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-radius: var(--border-radius);
  padding: 20px 10px;
}

.cart-item-description {
  display: flex;
  gap: 10px;
  text-align: left;
}

.cart-item-img {
  width: 25%;
}

.cart-item-name {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.cart-item-price {
  font-size: 1rem;
  color: var(--secondary-font-color);
}

.amount-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-item-amount {
  font-size: 1.25rem;
}

.amount-button {
  padding: 15px;
  border: none;
  border-radius: var(--border-radius);
  font-weight: 700;
  transition: ease 0.3s;
}

.increase {
  background-color: var(--secondary-color);
  color: var(--secondary-bg-color);
}

.amount-button:hover {
  filter: invert();
}

.total {
  text-align: right;
  font-weight: 700;
  margin: 50px 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 30px;
  align-items: center;
}

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--main-color);
  color: var(--light-font-color);
  padding: 10px;
}

img {
  border-radius: var(--border-radius);
}

h2 {
  text-align: center;
}
